*{
    margin: 0px;
    padding: 0px;
}

/*navigationsbar*/

nav{
    overflow: hidden;
    background-color: #133a22;
    margin:20px;

}





    /*background */
.background{
    background-image: url(../img/egeskovslotbackgroundimg.jpg);
    height: 100vh;
    background-size: cover;
    
}










    
    


