*{
    margin: 0px;
    padding: 0px;
    color: white;
}

/*navigationsbar*/

nav{
    float: right;
    overflow: hidden;
    background-color: #133a22;
    width: 80%;

}

nav a{
    color: white;
    
    
}

 /*background */
.background{
    background-image: url(../img/egeskovslotbackgroundimg.jpg);
    height: 100vh;
    background-size:cover;

    
}
.logo{
    float: left;
    
}

h1{
   text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
    text-align: center;
    padding: 60px;
    font-size: 100px;
    font-family: initial;
    
    
    
}









    
    


