*{
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
}

/*navigationsbar*/

nav{
   
    height: 40px;
    width: 100%;
    margin-right: 530px;
    overflow: hidden;
    background-color: #133a22;
   
}

nav a{
    float:left;
    color: white;
    padding: 3px 100px;
    margin-left: 70px;
    margin: 8px;
}

nav a:hover{
    background-color: black;
}

nav img{
    
    margin: -5px;
    padding: 8px;
    width: 35px;
    
}



 /*background */
.background{
    background-image: url(../img/egeskovslotbackgroundimg.jpg);
    height: 100vh;
    background-size:cover;

    
}
.logo{
    float: left;
    padding: 0px 50px;
    
}

h1{ /*Egeskov overskrift*/
   text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
    text-align: center;
    padding: 60px;
    font-size: 100px;
    font-family: initial; 
    margin-right: 250px;
}

/*kontaktform*/

main form {
    padding: 1%;
    margin-left: 430px;
    width: 40%;
    background-color: #133a22;
    box-shadow: 5px 5px 50px 7px black;
    
}

main input {
    
    width: 90%;
    margin-top: 2%;
    padding: 5%;
    border: solid black;  
}

main textarea {
    
    resize: none;
    width: 90%;
    margin-top: 2%;
    padding: 5%;
    border: solid black;   
    
}

main button{
    width: 20%;
    padding: 1%;
    margin-left: 240px;
    background-color: black;
    
}










    
    


